<<<<<<< HEAD
// _pixgrid.scss
// ==============
.pixgrid {
  img {
    max-width: 90px;
    display: block;
    @include border-radius(15px);
    padding: 0 5px 5px 0;
    cursor: url(../images/misc/magnifying_glass.png), auto;
  }

  .preview img {
    padding: 0;
  }
=======
// _pixgrid.scss
// ==============
.pixgrid {
  img {
    max-width: 90px;
    display: block;
    @include border-radius(15px);
    padding: 0 5px 5px 0;
    cursor: url(../images/misc/magnifying_glass.png), auto;
  }

  .preview img {
    padding: 0;
  }
>>>>>>> 722ae7c22ad5cc8f894a710f58662c9ca7538a2d
}